:root {
  --base-color: #00816b;
  --sub-color: #fff;
}

body {
  color: var(--base-color);
  background-color: var(--sub-color);
  margin: 0;
  padding: 0;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}
button {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

main {
  margin-top: 3rem;
}

main .button {
  font-size: clamp(1rem, 8vw, 2rem);
  font-weight: bold;
  line-height: 0.5;
}

.arrow {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.arrow.rotate {
  transform: rotate(90deg);
  display: inline-block;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

@media (max-width: 500px) {
  .button a {
    font-size: 3rem;
    letter-spacing: 0.1em;
  }
}
